* {
  padding: 0;
  margin: 0;
}
html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
}

.nav {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.nav-logo {
  flex: 1;
}

.nav-logo h1 {
  font-size: 22px;
}

.nav-links {
  flex: 1;
  text-align: center;
}

.nav-links a {
  color: rgb(53, 53, 53);
  text-decoration: none;

  margin: 0 15px;

  font-size: 18px;
}

.nav-search {
  flex: 1;
  text-align: right;
}

.nav-search input {
  padding: 5px 10px;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 10px;
  border: 1px solid black;
}

.nav-search button {
  padding: 5px 15px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

.hero {
  display: flex;
  height: 70vh;
  padding: 0 80px;
  background-color: #d4dee8;
}

.hero-intro {
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-intro h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.hero-intro button {
  padding: 10px 20px;
  width: fit-content;
  font-size: 18px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 20px;
}

.hero-image {
  flex: 1;
}

.hero-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products {
  padding: 30px;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.product {
  width: 300px;
  height: 10rem;
  padding: 1rem;
  background-color: #d4dee8;
  border-radius: 10px;
  border: 1px solid black;
}
